# Importing Libraries

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing dataset and Preprocessing It

In [15]:
df = pd.read_csv('Multivariate_Linear_Regression.csv')
df.head()

          X1         X2        X3         X4           y
0  20.631730  12.867703  8.395460  13.990905  189.031908
1   4.101116   5.433219  3.563688   7.586737   65.410833
2  11.924915  -4.457952  4.307833  -3.869729   34.669369
3  33.079571  13.541840  0.573275   5.720989  189.053144
4  23.595950  14.390700  2.435688  28.890003  215.060877

In [16]:
X = df.drop(columns='y')
Y = df['y']

In [17]:
X.head()

          X1         X2        X3         X4
0  20.631730  12.867703  8.395460  13.990905
1   4.101116   5.433219  3.563688   7.586737
2  11.924915  -4.457952  4.307833  -3.869729
3  33.079571  13.541840  0.573275   5.720989
4  23.595950  14.390700  2.435688  28.890003

In [18]:
X['X0'] = np.ones((X['X1'].size))

In [19]:
X.head()

          X1         X2        X3         X4   X0
0  20.631730  12.867703  8.395460  13.990905  1.0
1   4.101116   5.433219  3.563688   7.586737  1.0
2  11.924915  -4.457952  4.307833  -3.869729  1.0
3  33.079571  13.541840  0.573275   5.720989  1.0
4  23.595950  14.390700  2.435688  28.890003  1.0

In [20]:
X = X.iloc[:, [4, 0, 1, 2, 3]]

In [21]:
X.head()

    X0         X1         X2        X3         X4
0  1.0  20.631730  12.867703  8.395460  13.990905
1  1.0   4.101116   5.433219  3.563688   7.586737
2  1.0  11.924915  -4.457952  4.307833  -3.869729
3  1.0  33.079571  13.541840  0.573275   5.720989
4  1.0  23.595950  14.390700  2.435688  28.890003

# Creating Hypothesis Function

In [22]:
def hypothesis(theta_vector:list, x_record:list):
    y_pred = np.array(theta_vector) @ np.array(x_record)
    return(y_pred)

# Creating Cost Function

In [23]:
def CostFunction(theta_vector:list, x:pd.DataFrame, y:pd.DataFrame):
    s = 0
    X = [list(i) for i in list(x.values)]
    Y = list(y)
    m = len(Y)
    for (i,j) in zip(X,Y):
        s += ((hypothesis(theta_vector, i) - j)**2)
    error = s/(2*m)
    return(error)

# Defining &theta; vector

In [24]:
theta_vector = list(np.zeros((len(X.columns))))
theta_vector

[0.0, 0.0, 0.0, 0.0, 0.0]